<h1>Mis productos</h1>

<div class="contenedorCards">
    {{#each productos}}
        <div class="card">
            <p> {{this.title}} </p>
            <p> {{this.description}} </p>
            <p> {{this.price}} </p>
        </div>
    {{/each}}
</div>


{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"> Anterior </a>
{{/if}}


{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"> Siguiente </a>
{{/if}} 
<p>Pagina {{currentPage}} de {{totalPages}} </p>